<a href="https://colab.research.google.com/github/SujithaLakshmiR/Python_Datatypes/blob/main/Datatypes_Suji.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Datatypes


1.   Numeric Datatypes

1.   Sequences

1.   Mappings
2.   Set

5.   Boolean

1.Numeric Datatypes:
  

*   Integer
*   Float

*   Complex Number

In [ ]:
a=12
print("Type of a: ",type(a))
b=12.0
print("Type of b: ",type(b))
c=12+12j
print("Type of c: ",type(c))

Type of a:  <class 'int'>
Type of b:  <class 'float'>
Type of c:  <class 'complex'>

2.Sequences:


*   String
*   List

*   Tuple

In [ ]:
mystr="Sujitha"
print(mystr)
print(mystr[0])
print(mystr[0:4])
print("Hi "+mystr)
print(mystr*3)

Sujitha
S
Suji
Hi Sujitha
SujithaSujithaSujitha

In [ ]:
mylist=['cat','dog','horse','rabbit','parrot']
print(mylist)
print(mylist[0]) 
print(mylist[0:3])

['cat', 'dog', 'horse', 'rabbit', 'parrot']
cat
['cat', 'dog', 'horse']

In [ ]:
mytuple=(1,2,3,4,5)
print(mytuple)
print(mytuple[0])
print(mytuple[3:5])
mytuple1=1,'one',2,'two'
print(mytuple)

(1, 2, 3, 4, 5)
1
(4, 5)
(1, 2, 3, 4, 5)

3.Mappings:


*   Dictionary

In [ ]:
mydict={"s":"sujitha","b":"butterfly","c":"cat"}
print(mydict)
print(mydict["s"])

{'s': 'sujitha', 'b': 'butterfly', 'c': 'cat'}
sujitha

4.Set:

In [ ]:
myset={12,12,10,10,27,27,14,14}
print(myset)

{10, 27, 12, 14}

5.Boolean:

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>